{% extends 'base/main.html' %}
{% block content %}

    <div class="top-bar">
        <div>
            <h1>Welcome, {{request.user|title}}</h1>
            <h3 style="margin:0">You have <i>{{count}}</i> incomplete task{{count|pluralize}}</h3>
        </div>
        {% if request.user.is_authenticated %}
        <form action="{% url 'logout' %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-info">Logout</button>
        </form>
        {% else %}
            <a href="{% url 'login'  %}">Login</a>
        {% endif %}
    </div>

    <a href="{% url 'create-task' %}">Create new task</a>

    <form method="GET">
        <input type="text" name="area-search" value="{{to_search}}">
        <input type="submit" value="Search">
    </form>

    <div class="container-items-tasks">
        {% for task in tasks %}
        <div class="container-tasks">
            {% if task.complete %}
            <div class="title-task">
                <div class="icon-complete"></div>
                <i><s><a href="{% url 'update-task' task.id %}">{{task}}</a></s></i>
            </div>
            <a class="url-delete" href="{% url 'delete-task' task.id %}">&#x274C;</a>
            {% else %}
            <div class="title-task">
                <div class="icon-incomplete"></div>
                <a href="{% url 'update-task' task.id %}">{{task}}</a>
            </div>
            <a class="url-delete" href="{% url 'delete-task' task.id %}">&#x274C;</a>
            {% endif %}
        </div>

        {% empty %}
        <h3>No items in this list</h3>

        {% endfor %}
    </div>

{% endblock content %}
